<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JspViewListDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>goods</servlet-name>
    <servlet-class>servlet.goodsListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goods</servlet-name>
    <url-pattern>/goods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>goodsListController</display-name>
    <servlet-name>goodsListController</servlet-name>
    <servlet-class>servlet.goodsListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goodsListController</servlet-name>
    <url-pattern>/goodsListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addUser</servlet-name>
    <servlet-class>servlet.registerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUser</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>users</servlet-name>
    <servlet-class>servlet.userListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>users</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <!-- 图片上传 -->
   <servlet>
    <servlet-name>imgUpload</servlet-name>
    <servlet-class>servlet.SmartUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imgUpload</servlet-name>
    <url-pattern>/imgUpload</url-pattern>
  </servlet-mapping>
 
</web-app>